# Importing the necessary libraries and the dataset

In [1]:
import pandas as pd
import re

In [2]:
df =pd.read_csv('/home/lorenzo/Documents/3-TERZO-ANNO/IUMTWEB/CSV_progetto/game_events.csv')
df.shape

(666558, 10)

# Checking the column types

In [3]:
df.dtypes

game_event_id        object
date                 object
game_id               int64
minute                int64
type                 object
club_id               int64
player_id             int64
description          object
player_in_id        float64
player_assist_id    float64
dtype: object

In [4]:
df['date'] = pd.to_datetime(df['date'])

In [5]:
df.dtypes

game_event_id               object
date                datetime64[ns]
game_id                      int64
minute                       int64
type                        object
club_id                      int64
player_id                    int64
description                 object
player_in_id               float64
player_assist_id           float64
dtype: object

# Creating a function to filter only the europian characters

In [6]:
def contains_only_european_chars(s):
    return re.match(r'^[a-zA-Z0-9\s\.,;:!?\-\'\"()€£\u00C0-\u017F]+$', s) is not None

In [7]:
df['description'] =df['description'].astype('str')
df_filtered = df[df['description'].apply(contains_only_european_chars)]

In [8]:
df_filtered.shape

(666558, 10)

# Selecting the columns to save

In [9]:
columns_to_save = ['date','game_id','minute','type','club_id','player_id','description']
df_selected_columns = df_filtered[columns_to_save]

In [10]:
df_selected_columns.dtypes

date           datetime64[ns]
game_id                 int64
minute                  int64
type                   object
club_id                 int64
player_id               int64
description            object
dtype: object

# Converting the type and description columns to String

In [11]:

df_selected_columns.loc[:, 'type'] = df_filtered['type'].astype('str')
df_selected_columns.loc[:, 'description'] = df_filtered['description'].astype('str')

In [12]:
df_selected_columns

,date,game_id,minute,type,club_id,player_id,description
0,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation"
1,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation"
2,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,..."
3,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist..."
4,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported"
...,...,...,...,...,...,...,...
666553,2023-11-15,4228114,82,Substitutions,358,874064,", Tactical"
666554,2023-11-15,4228114,44,Goals,46889,922572,", Penalty, 1. Tournament Goal"
666555,2023-11-15,4228114,68,Substitutions,46889,922572,", Tactical"
666556,2023-11-15,4228114,68,Substitutions,46889,1200864,", Tactical"
666557,2023-11-15,4228114,85,Goals,358,1203715,", Right-footed shot, 1. Tournament Goal"

In [13]:
df_players = pd.read_csv('/home/lorenzo/Documents/3-TERZO-ANNO/IUMTWEB/CSV_progetto/players.csv')
df_selected_columns = df_selected_columns.merge(df_players[['player_id', 'name']], on='player_id', how='left')

In [14]:
df_selected_columns

,date,game_id,minute,type,club_id,player_id,description,name
0,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",Theo Janssen
1,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",Przemyslaw Tyton
2,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",Ola Toivonen
3,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",Ola Toivonen
4,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",Ola Toivonen
...,...,...,...,...,...,...,...,...
666553,2023-11-15,4228114,82,Substitutions,358,874064,", Tactical",NaN
666554,2023-11-15,4228114,44,Goals,46889,922572,", Penalty, 1. Tournament Goal",NaN
666555,2023-11-15,4228114,68,Substitutions,46889,922572,", Tactical",NaN
666556,2023-11-15,4228114,68,Substitutions,46889,1200864,", Tactical",NaN
666557,2023-11-15,4228114,85,Goals,358,1203715,", Right-footed shot, 1. Tournament Goal",NaN

# Checking the dataset to match the players and clubs datasets

In [15]:
df_clubs = pd.read_csv('/home/lorenzo/Documents/3-TERZO-ANNO/IUMTWEB/Manipulated_data/clubs.csv')
df_filtered_filtered = df_selected_columns[df_selected_columns['club_id'].isin(df_clubs['club_id'])]
df_filtered_filtered

,date,game_id,minute,type,club_id,player_id,description,name
0,2012-08-05,2211607,77,Cards,610,4425,"1. Yellow card , Mass confrontation",Theo Janssen
1,2012-08-05,2211607,77,Cards,383,33210,"1. Yellow card , Mass confrontation",Przemyslaw Tyton
2,2012-08-05,2211607,3,Goals,383,36500,", Header, 1. Tournament Goal Assist: , Corner,...",Ola Toivonen
3,2012-08-05,2211607,53,Goals,383,36500,", Right-footed shot, 2. Tournament Goal Assist...",Ola Toivonen
4,2012-08-05,2211607,74,Substitutions,383,36500,", Not reported",Ola Toivonen
...,...,...,...,...,...,...,...,...
666386,2023-11-22,4227848,55,Goals,3060,186798,", Right-footed shot, 1. Tournament Goal Assist...",Andreas Kuen
666387,2023-11-22,4227848,90,Substitutions,3060,186798,nan,Andreas Kuen
666388,2023-11-22,4227848,66,Substitutions,3060,339829,nan,Pierre Kunde
666391,2023-11-22,4227848,66,Substitutions,3060,491648,nan,Diego Valencia
666392,2023-11-22,4227848,66,Substitutions,3060,502893,nan,Denzel Jubitana

# Saving the dataset

In [16]:
df_filtered_filtered.to_csv('/home/lorenzo/Documents/3-TERZO-ANNO/IUMTWEB/Manipulated_data/game_events.csv', index=False)